<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Invoice Generator</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body style="text-align: center">
 
      
      <div class="container">
        <h1>Invoice Generator</h1>

        <form hx-post="/generate" hx-target="#invoice" hx-swap="innerHTML">
          <div class="form-group">
            <label>No Invoice:</label>
            <input name="invoice_number" required />
          </div>

          <div class="form-group">
            <label>Periode:</label>
            <input type="text" name="periode" placeholder="contoh: Juli 2025" />
          </div>

          <div class="form-group">
            <label>Tanggal:</label>
            <input type="date" name="invoice_date" required />
          </div>

          <div class="form-group">
            <label>Quantity (Kg):</label>
            <input
              type="number"
              name="quantity_kg"
              step="any"
              placeholder="Jumlah Angkut Armada"
              required
            />
          </div>

          <div class="form-group">
            <label>DPP (Input manual):</label>
            <input
              type="number"
              placeholder="Nilai DPP dari Efaktur"
              name="dpp"
              step="any"
              required
            />
          </div>

          <div>
            <button type="submit">Generate Invoice</button>

            <a href="/setup"> Edit Profil </a>
          </div>
        </form>
      </div>

      <!-- RIGHT: PREVIEW -->
      <div id="invoice">
        <p>Preview Disini</p>
      </div>
    </div>

    <div style="text-align: center">
      <a href="/">Home</a>
    </div>
  
  </body>
</html>
