<div style="text-align: center">
  <!-- CONTAINER UNTUK DUA TOMBOL -->
  <div style="margin-top: 6px">
    <!-- PREVIEW PDF -->
    <form
      id="previewForm"
      method="POST"
      action="/generate-pdf"
      target="_blank"
      style="display: inline-block; margin-right: 8px"
    >
      <div class="form-group">
        <input type="hidden" name="invoice_number" value="{{.InvoiceNumber}}" />
        <input type="hidden" name="invoice_date" value="{{.InvoiceDate}}" />
        <input type="hidden" name="quantity_kg" value="{{.QuantityKG}}" />
        <input
          type="hidden"
          name="dpp"
          value="{{.DPP}}"
          pattern="^\d+(\.\d{1,2})?$"
          title="Hanya angka. Gunakan titik (.) untuk desimal, tanpa koma atau simbol"
        />
        <input type="hidden" name="periode" value="{{.Periode}}" />
      </div>

      <button
        style="
          background-color: forestgreen;
          color: white;
          padding: 6px 12px;
          border: none;
          border-radius: 4px;
        "
      >
        Preview PDF
      </button>
    </form>

    <!-- DOWNLOAD PDF -->
    <form
      id="downloadForm"
      method="POST"
      action="/generate-pdf?download=true"
      target="_blank"
      style="display: inline-block"
    >
      <div class="form-group">
        <input type="hidden" name="invoice_number" value="{{.InvoiceNumber}}" />
        <input type="hidden" name="invoice_date" value="{{.InvoiceDate}}" />
        <input type="hidden" name="quantity_kg" value="{{.QuantityKG}}" />
        <input type="hidden" name="dpp" value="{{.DPP}}" />
        <input type="hidden" name="periode" value="{{.Periode}}" />
      </div>

      <button
        style="
          background-color: dodgerblue;
          color: white;
          padding: 6px 12px;
          border: none;
          border-radius: 4px;
        "
      >
        Download PDF
      </button>
    </form>
  </div>
</div>
