<!-- templates/invoice.html -->
<div>
  <h2>Invoice PDF</h2>

  <!-- PREVIEW PDF -->
  <form
    id="previewForm"
    method="POST"
    action="/generate-pdf"
    target="_blank"
    class="space-y-4"
  >
    <input type="hidden" name="invoice_number" value="{{.InvoiceNumber}}" />
    <input type="hidden" name="invoice_date" value="{{.InvoiceDate}}" />
    <input type="hidden" name="quantity_kg" value="{{.QuantityKG}}" />
    <input type="hidden" name="dpp" value="{{.DPP}}" />
    <input type="hidden" name="periode" value="{{.Periode}}" />

    <button style="background-color: forestgreen; margin: 4px;" type="submit">Preview PDF</button>
  </form>

  <!-- DOWNLOAD PDF -->
  <form
    id="downloadForm"
    method="POST"
    action="/generate-pdf?download=true"
    target="_blank"
  >
    <input type="hidden" name="invoice_number" value="{{.InvoiceNumber}}" />
    <input type="hidden" name="invoice_date" value="{{.InvoiceDate}}" />
    <input type="hidden" name="quantity_kg" value="{{.QuantityKG}}" />
    <input type="hidden" name="dpp" value="{{.DPP}}" />
    <input type="hidden" name="periode" value="{{.Periode}}" />

    <button type="submit">Download PDF</button>
  </form>

  </div>
</div>
