<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Profil</title>

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>
  <body>
    <div>
      <h1>Edit Profil</h1>

      <form method="POST" action="/setup">
        <div class="form-group">
          <label style="color: black">Nama PT:</label>
          <input name="nama_pt" value="{{.NamaPT}}" required />
        </div>

        <div class="form-group">
          <label style="color: black">Nama Bank:</label>
          <input name="nama_bank" value="{{.NamaBank}}" required />
        </div>

        <div class="form-group">
          <label>No. Rekening:</label>
          <input name="no_rekening" value="{{.NoRekening}}" required />
        </div>

        <div class="form-group">
          <label>Penanggung Jawab:</label>
          <input
            name="penanggung_jawab"
            value="{{.PenanggungJawab}}"
            required
          />
        </div>

        <div class="form-group">
          <label>Alamat:</label>
          <input name="alamat" value="{{.Alamat}}" required />
        </div>

        <div class="form-group">
          <label>Kota/Kab.:</label>
          <input name="kabupaten" value="{{.Kabupaten}}" required />
        </div>

        <button type="submit" class="btn">Simpan</button>
      </form>

      <div class="text-center mt-4">
        <a href="/">Home</a>
      </div>
    </div>
  </body>
</html>
